:root {
    --hue-blue: 240;
    --hue-active: 30;
    --aside-height: 100%;
    --aside-width: 300px;
    --asi-cont-height: 210px;
    --asi-cont-width: 290px;
    --overlay-height: 60px;
    --overlay-width: 420px;
    --overlay-right: 200px;
    --overlay-bottom: 200px;
    --W-width: 420px;
}

html, body { 
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    }

h2 {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-shadow: 1px 1px 1px 1px #333;
}

h3 {
    position: relative;
    color: #999;
    font-weight: 200;
    margin: 0;
    left: 50px;
}

iframe {
    display: flex;
    flex: 100%
}

.container {
    display: flex;
    flex:100%;
    width: 100%;
    height: 98%;
    background-color: rgba(0,0,0,0.2);
}
.windy-cont {
    display: flex;
    flex:100%;
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
    
}

.container {
    display: flex;
    flex:100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.windy-cont {
    display: flex;
    flex:100%;
    width: 100%;
    height: 100%;
}

/* ALL `ASIDE` |================|
components and content here:
Search, Locale buttons, settings menu */
.aside{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: calc(var(--aside-height));
    width: var(--aside-width);
    background-color: whitesmoke;
    opacity: 0.25;
    backdrop-filter: blur(5px);
}

.aside:hover {
    height: 80%;
    animation: ease-in-out 1.25s;
}

.aside-cont:hover {
    height: 80%;
    animation: ease-in-out 1.25s;
}

.aside-cont {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    height: var(--aside-height);
    width: calc(var(--aside-width) - 1px);
    border-right: 1.5px solid white rgba(255, 255, 255, 0.5);
    background-color: transparent;
    opacity: 1;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: flex-start;
    backdrop-filter: blur(5px);
}

.aside-cont:hover {
    height: calc(var(--aside-height - 200px));
    animation: ease-in-out 1.25s;
}

.aside-cont > button:hover {
    background-color: #333;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.75);
    border-color: #999;
}


.bins {
    text-align: center;
    text-justify: center;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    max-height: calc(5*var(--aside-cont-height));
    min-height: var(--aside-cont-height);
    width: var(--asi-cont-width);
}


.location > button {
    min-width: calc(0.65 * var(--asi-cont-width));
    min-height: calc(.25 * var(--asi-cont-height));
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #666;
    box-shadow: 0 4px 6px -6px black;
    border-radius: 8px;
    border: 1px solid #999;
    backdrop-filter: blur(5px);
    opacity: 0.75;
}

.active {
    background-color: white;
    font-weight: 600;
    border: 1.5px solid hsl(var(--hue-active), 90%, 50%) !important;
}

.search-bin {
    min-height: calc(2 * var(--aside-cont-height))
}

.search-bin > input {
    color: #333;
    min-height: calc(0.5 * var(--aside-cont-height));
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #999;
}

.search-bin > button {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    border: 1px solid white;
}
/* ALL `WEATHER` |================|
componenets and content here:
temp-high, temp-low
temp
latitude, logitude*/

.weather {
    display: flex;
    position: fixed;
    right: 200px;
    top: 420px;
    width: var(--W-width);
    min-width: calc(var(--W-width) - 60px);
    min-height: 120px;
    background-color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 2px 10px 1px black;
    opacity: 0.66;
    backdrop-filter: blur(15px);
    padding: 20px 0px;
    z-index: 1;
}

.top-row, .mid-row, .bot-row {
    display: flex;
    position: relative;
    flex: 100%;
    flex-direction: row;
    width: 100%;
    min-height: 40px;
    justify-content: space-around;
    align-items: center;
}

.mid-row {
    margin: 20px 0px;
}

#mid {
    flex: auto;
    color: #333;
    font-size: 2rem;
    position: relative;
    height: 50%;
    width: 50%;
}

#flank {
    flex: auto;
    color: #666;
    font-size: 1 rem;
    font-weight: 200;
    position: relative;
    height: 25%;
    width: 50%;
    
}

#mid, #flank {
    margin: 0;
    padding: auto;
    text-align: center;
    text-justify: center;
}
/* ALL `OVERLAY` |================|
components and content here:
overlay-1, overlay 2, and dropdowns*/
.overlay-1, .overlay-2 {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-flow: wrap;
    z-index: 1;
    text-shadow: 0 4px 6px 6px black;
    min-height: 60px;
    max-width: 420px;
    min-width: var(--overlay-width);
    background-color: transparent;
}

.overlay-1:hover, .overlay-2:hover {
    color: white;
    backdrop-filter: blur(15px);
    box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.420);
    animation: ease-in-out 1.25s;
}

.overlay-1 {
    display: flex;
    flex: 100%;
    position: fixed;
    bottom: var(--overlay-bottom);
    right: var(--overlay-right);
}

.overlay-1 > button {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 60px;
    width: 110px;
    border: none;
    background-color: transparent;
    padding: auto;
    align-items: flex-end;
}

.overlay-1 > button:hover {
    color: white;
    font-weight: 600;
}

.overlay-2 {
    display: flex;
    flex: 100%;
    position: fixed;
    bottom: calc(var(--overlay-bottom) - var(--overlay-height));
    right: var(--overlay-right);
}
.dropdown {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex: 50%;
    min-width: 25%;
    max-width: var(--overlay-width);
    text-align: end;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 0;
    backdrop-filter: blur(15px);
    opacity: 0.5;
  }
  
  .dropdown:hover .dropdown-content {
    color: white;
    display: block;
    font-weight: 600;
    backdrop-filter: blur(15px);
    opacity: 0.5;
  }


/* ===== ID TAGS ===== */
#overlayID {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    font-weight: 300; 
    font-size: 0.75rem; 
    color: rgb(200, 200, 200);
    text-align: start;
    height: 100%;
}

#sub {
    font-weight: 100;
    font-size: 0.35 rem;
}

#windy {
    width: 100%;
    height: 100%;
    background-color: #999;
}

@media screen and (max-width: 640px) {
    .container {
        height: 200%;
        width: 100%;
    }

   
    
    .aside, .aside-cont {
        width: 100%;
        height: 50%;
        position: absolute;
        flex-wrap: wrap;
        flex-direction: column;
        top: 85%;
    }

    .aside-cont > .bins {
        margin: 0;
    }
    .weather {
        position: absolute;
        top: 40%;
        left: 0%;
        width: 90%;
    }

    .overlay-1, .overlay-2 {
        position: absolute;
        width: 100%;
        top: 30%;
        left: 0%;   
    }

    #map-container {
        width: 200%;
    }

    #windy {
        display: flex;
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: #999;
    }
}